
*{

    box-sizing: border-box;
    margin:0;
    padding:0;
    

}

:root{

    --container-margin : 20px;
    --guesswordcharacter-width : 60px;
    --guesswordcharacter-height : 80px;
    --guesswordcharacter-fontsize:50px;
}


.container{

    background-color: aliceblue;
    min-width: 400px;
    max-width:800px;
    height:calc(100vh - 2 * var(--container-margin));
    margin:  var(--container-margin) auto var(--container-margin) auto;

    


}


.gamecontent{

    height: 30vh;
    justify-content: center;
    align-items: center;


    
}



.gameimg{


    background-color: beige;
    display:none;
}

.gameimg > img{

    height:80%;
    margin:   30px 0px 30px 0px;
    max-width: 100%;
    object-fit: cover;

}

.gametext{
    background-color: lightgrey;
    display:none;

}

.gamevoice{
    background-color: limegreen;
    display:none;
}





.gamedetail{

    background-color: burlywood;
    height:10vh;

    display:flex;

    align-items: center;
    justify-content: center;
   
}


#score{
    font-size : 8vh;
    font-weight:bold;
}

.gameword{

    background-color: yellow;
    display: flex;
    justify-content: center;

}

.gamewordcharacter{




    width:var(--guesswordcharacter-width);


    height:var(--guesswordcharacter-height);

    display:flex;
    align-items: center;
    justify-content: center;
    position:absolute;



}

.gamewordcharacterhint{

    width:var(--guesswordcharacter-width);


    height:var(--guesswordcharacter-height);

    display:flex;
    align-items: center;
    justify-content: center;
    color:	rgba(136,136,136,0.8)


    
}

.gamewordcharactercontainer{

    margin-left : 5px;
    border-bottom: solid black 4px;
    font-size:var(--guesswordcharacter-fontsize);
    /* background-color: tomato; */

}


#gamepointgain{

    width:50px;
    height:50px;
    background-color: linen;
    display: block;
    font-size:50px;
    position:absolute;
    color:grey;
    left:50%;
    background-color: transparent;
    opacity : 0;


    /* animation : pointgainanimation 1s cubic-bezier(1, 0.03, 1, 1); */
    


}


@keyframes pointgainanimation {

    from{

        transform:translateY(0px);
        opacity: 1;
        

    }


    to{
   
        transform:translateY(-400px);
        opacity:0;
 


    }
    
}




.gamewordcontainer{
    text-align: center;
}



.dialog_result_container{


    margin : 10px;
    /* background-color: lightgreen; */
    font-size : 1em;


}

.dialog_result_row{
    display:flex;
    align-items: stretch;
    margin-top: 2px;
    flex : 3 1;
    
}

.dialog_result_word{
    width:75%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding:0px 5px 0px 5px;

}
