
*{

    box-sizing: border-box;
    margin:0;
    padding:0;
    

}

:root{

    --container-margin : 20px;
}


.container{

    background-color: aliceblue;
    min-width: 400px;
    max-width:800px;
    height:calc(100vh - 2 * var(--container-margin));
    margin:  var(--container-margin) auto var(--container-margin) auto;

    


}


.gamecontent{

    height: 10vh;
    
}



.gameimg{


    background-color: beige;
    display:none;
}

.gameimg > img{

    height:80%;
}

.gametext{
    background-color: lightgrey;
    display:none;

}

.gamevoice{
    background-color: limegreen;
    display:none;
}





.gamedetail{

    background-color: burlywood;
    height:10vh;
   
}

.gameword{

    background-color: yellow;
    display: flex;
    justify-content: center;

}

.gamewordcharacter{




    width:60px;


    height:80px;

    display:flex;
    align-items: center;
    justify-content: center;
    position:absolute;



}

.gamewordcharacterhint{


    width:60px;


    height:80px;

    display:flex;
    align-items: center;
    justify-content: center;
    color:	rgba(136,136,136,0.8)


    
}

.gamewordcharactercontainer{

    margin-left : 5px;
    border-bottom: solid black 4px;
    font-size:50px;
    /* background-color: tomato; */

}
